.A1 {
    border-collapse: collapse;
    border: 1px solid black;
}
.A2 th{
    border-collapse: collapse;
    border: 1px solid black;
}
.A3 td{
    border-collapse: collapse;
    border: 1px solid black;
}
.A4 td{
    border-collapse: collapse;
    border: 1px solid black;
}
.A5 td{
    border-collapse: collapse;
    border: 1px solid black;
}
.A6 td{
    border-collapse: collapse;
    border: 1px solid black;
}
.A7 td{
    border-collapse: collapse;
    border: 1px solid black;
}